nav {

  position: fixed;
}

.logo-nav {
  height: 80px;
  width: 100%;
  background-color: transparent;
  color: #FFFFFF;
  padding: 0 1.5em 0.75em 1.5em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-size: 1.5em;
}

.newTweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: visible;
}

.fa-angles-down {
  color: red !important;
}

.newTweet:hover>.fa-angles-down {
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
    transform: translateY(5%);
  }

  15% {
    transform: translateY(10%);
  }

  30% {
    transform: translateY(15%);
  }

  45% {
    transform: translateY(20%);
  }

  60% {
    transform: translateY(15%);
  }

  75% {
    transform: translateY(10%);
  }

  90% {
    transform: translateY(5%);
  }

  100% {
    transform: translateY(0%);
  }
}


#scrollTop {
  background-color: red;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 1em;
  bottom: 1em;
  position: fixed;
  visibility: hidden;
}

#scrollTop i {
  color: white;
  font-size: 1.3em;
}

.showNav {
  visibility: visible !important;
}

.hideNav {
  visibility: hidden !important;
}

#scrollTop:hover>.fa-angles-up {
  animation: jumpInfinite 1.5s infinite;
}


/* Desktop styles */
@media only screen and (min-width: 1024px) {
  .logo-nav {
    background-color: rgb(35, 61, 178);
  }
}