/* new tweet section style */
.new-tweet {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* new tweet submit form style */
.new-tweet label {
  color: #545149;
}

#tweet-text {
  width: 100%;
  outline: 0;
  border-width: 0 0 2px;
  border-color: black;
  background-color: transparent;
  resize: none;
  height: 40px;
}

#tweet-text:focus {
  border-color: gray;
}


#tweet-text:hover {
  box-shadow: 0px 3px rgb(208, 204, 204);
}

#tweet-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  font-family: 'Bungee', sans-serif;
}

#tweet-form button {
  background-color: royalblue;
  color: white;
  border: 0;
  padding: 0.3em;
}

#tweet-form button:hover {
  box-shadow: 5px 5px rgb(208, 204, 204);
}

.counter {
  color: #545149;
}

.counter-red {
  color: red;
}

/* error line popup for tweet error */
.tweet-error {
  visibility: hidden;
  display: none;
}

.displayError {
  visibility: visible;
  color: white;
  background: red;
  padding: 10px;
  border-radius: 0;
  position: relative;
  display: inline-block;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  width: 100%;
}